<div class="md-copyright">
    <div class="md-copyright__highlight">
        Dane kontaktowe:
    </div>
    <div class="md-copyright__highlight">
        Prezes Oddziału UKS Luks Smolec
    </div>
    <div class="md-copyright__highlight">
        Przemysław Jastrząb
    </div>
    <div class="md-copyright__highlight">
        tel. +48 607 165 244
    </div>
    <div class="md-copyright__highlight">
        <a href="mailto:przemyslaw.jastrzab@uksluks.pl">przemyslaw.jastrzab@uksluks.pl</a>
    </div>
</div>